.container-total {
  border: 1px solid #e9ecef;
  margin-top: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container-total > div {
  display: flex;
  justify-content: space-between;
}

.p-total {
  color: #343a40;
}

.total-value {
  color: #fd377e;
  font-weight: bold;
}
